
.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formPrincipal {
  align-items: center; /* Centraliza os elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pais,
.cidade,
.estado,
.valor { /* Mantendo os mesmos estilos para consistência */
  border-radius: 16px;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #ffffff;
  border: 2px solid #b0afaf;
  width: 602px;
}

.Button-Continuar {
  background-color: #F57C00;
  color: black;
  border: none;
  width: 321px;
  height: 45px;
  border-radius: 25px;
  padding: 5px 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative; /* Alterado para manter alinhamento */
}

.conteiner-Bu_Co {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 45px;
}

.Conta {
  text-align: center;
  margin-top: 55px;
  color: black;
}

button:hover {
  background-color: #e0a800;
}
