@import './base.css';
:root {
  --tittle-font: 'Poppins', sans-serif;
  --header-background: linear-gradient(90deg, #0073af 0%, #003049 99.99%);
  --header-text-color: #f5f5f5;
  --header-link-color: #f5f5f5;
  --header-button-color: #f5f5f5;
  --header-button-register-background: #f5f5f5;
  --header-button-register-text-color: #014467;
  --header-font-size: 15px;
}

#header {
  padding: 1em 10em;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  background: var(--header-background);
}
#header-Navigation {
  font-family: var(--tittle-font), serif;
  font-size: var(--header-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  color: var(--header-text-color);
}
.header-link {
  color: var(--header-text-color);
}
.button {
  border-radius: 34px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 2em;
}
.register-button {
  background-color: var(--header-button-register-background);
  color: var(--header-button-register-text-color);
}
.cadastro-container {
    margin: 2% 9%;
    display: flex;
    height: 80vh;
    justify-content: center;
    font-family: 'Khmer', sans-serif;
}
.left-section {
  flex: 1;
  background-image: url('../../assets/imagem_do_cadastro.png');
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  padding: 3rem;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.cadastro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-continuar {
  background-color: #F57C00;
  color:black;
  border: none;
  width: 250px;
  height: 40px;
  margin-top: 25px;
  border-radius: 25px;
  padding: 5px 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #e0a800;
}
.form-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.titulo-form {
  color: #000;
  text-align: center;
  font-family: Roboto,serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.texto-form {
  text-align: center;
  font-family: Roboto,serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
select{
  display: flex;
  width: 140px;
  height: 41px;
  padding: 0 8px;
  margin-bottom: 20px;
  align-items: center;
  gap:-48px;
  border-radius: 14px;
  border: 1px solid #FFF;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  color: #828181;
  font-family: Roboto,serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%; /* 21px */
  letter-spacing: -0.154px;
}
.select-maior{
  width: 456px;
  height: 41px;
}
option{
  color: #828181;
  font-family: Roboto,serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 150%; /* 21px */
  letter-spacing: -0.154px;
}

.input-padrao{
  display: flex;
  width: 456px;
  height: 40.53px;
  padding: 0px 7.606px;
  margin-bottom: 20px;
  align-items: center;
  gap: -48px;
  border-radius: 14.262px;
  border: 0.951px solid #FFF;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.input_lado-a-lado{
  display: flex;
  width: 223px;
  height: 40.53px;
  padding: 0px 7.606px;
  margin-bottom: 20px;
  align-items: center;
  gap: -48px;
  border-radius: 14.262px;
  border: 0.951px solid #FFF;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.container_lado-a-lado{
  display: flex; /* Ativa o Flexbox */
  flex-direction: row; /* Mantém os itens em linha (padrão) */
  align-items: center; /* Alinha os itens verticalmente no centro */
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 10px; /* Espaçamento entre os elementos */
  width: 100%; /* Faz o contêiner ocupar toda a largura disponível */
}
.conteiner-Bu_Co{
  display: flex; /* Deixa os inputs lado a lado */
  justify-content: center; /* Centraliza os inputs horizontalmente */
  align-items: center; /* Alinha verticalmente */
  gap: 10px; /* Espaço entre os inputs */
  width: 296px;
}

.titulo{
display: flex;
justify-content: center;
align-items: center;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.dropdown {
  width: 600px;
  height: 200px; /* Defina a altura desejada para o componente */
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; /* Habilita a rolagem vertical */
}


.checkbox-item {
  display: flex;
  align-items: center;  /* Alinha verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  gap: 8px; /* Espaço entre o checkbox e o texto */
  width: 100%; /* Garante que ocupe toda a largura disponível */
}


.li_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #000;
}



